@using AMS.Core.Identity
@using AMS.Core.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@model AMS.Web.ViewModels.Profile.ChangeRoleViewModel

<ul class="list-group">
    @foreach (var user in UserManager.Users)
    {
        <li class="list-group-item">
            <div class="row align-items-center">
                <div class="col-1">
                    @user.FirstName
                </div>
                <div class="col-1">
                    @user.LastName
                </div>
                <div class="col-1">
                    <span class="badge badge-pill badge-danger">@UserManager.GetRolesAsync(await UserManager.GetUserAsync(User)).Result.FirstOrDefault()</span>
                </div>
                <div class="col-3">
                    Date of birth: <strong>@user.DateOfBirth.ToShortDateString()</strong>
                </div>
                <div class="col-4">
                    <form asp-controller="Profile" asp-action="ChangeRole" method="post">
                        <input asp-for="UserId" type="hidden" value="@user.Id" />
                        <input asp-for="OldRole" type="hidden" value="@UserManager.GetRolesAsync(user).Result.FirstOrDefault()" />
                        <div class="row align-items-center">
                            <div class="col-6">
                                <select asp-for="NewRole" class="form-control form-control-sm">
                                    @foreach (var role in Enum.GetNames(typeof(RoleNames)))
                                    {
                                        <option>@role</option>
                                    }
                                </select>
                            </div>
                            <div class="col-6">
                                <button type="submit" class="btn btn-success">Change role</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-danger">Deactivate</button>
                </div>
            </div>
        </li>
    }
</ul>