@using AMS.Core.Models
@model IEnumerable<AMS.Core.Models.Payment>
@{
    ViewData["Title"] = "Payments";
}


<div class="row justify-content-center">
    <h2>Payments</h2>
</div>
<ul class="list-group">
    @foreach (var payment  in Model)
    {
        <li class="list-group-item">
            <div class="row align-items-center">
                <div class="col-1">
                    @payment.Apartment.Title
                </div>
                <div class="col-1">
                    @payment.Sum
                </div>
                <div class="col-1">
                    @payment.Status
                </div>
                <div class="col-3">
                    Initiated: <strong>@payment.Initiated.ToShortDateString()</strong>
                </div>
                <div class="col-2">
                    DeadLine: <strong>@payment.DeadLine.ToShortDateString()</strong>
                </div>
                @*<div class="col-4">
            <form asp-controller="Payments" method="post">
                <input asp-for="UserId" type="hidden" value="@user.Id" />
                <input asp-for="OldRole" type="hidden" value="@userRole" />
                <div class="row align-items-center">
                    <div class="col-6">
                        <select asp-for="" class="form-control form-control-sm">
                            @foreach (var role in Enum.GetNames(typeof(PaymentStatus)))
                            {
                                <option>@role</option>
                            }
                        </select>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success">Change role</button>
                    </div>
                </div>
            </form>
        </div>*@
            </div>
        </li>
    }
</ul>
